/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  min-height: 100vh;
  padding: 2rem;
}

/* Container principal com layout em colunas */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}


.btn-voltar {
  max-height: 32px;
  color: white;
  background-color: #de0611;
  padding: 6px 12px; /* Reduzi o padding */
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin: 10px 0;
  font-size: 14px; 
  transition: background 0.3s ease; 
}

.btn-voltar:hover {
  background-color: #a3040c;
  transform: scale(1.02); /* Efeito sutil ao passar o mouse */
}


/* Seções com aparência de card */
.section {
  background-color: #1f1f1f;
  border-radius: 12px;
  padding: 2rem;
  flex: 1 1 400px;
  box-shadow: 0 0 10px #be0811;
  min-width: 350px;
}

/* Títulos */
.section h2 {
  color: #e50914;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

/* Formulários */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea,
select,
button {
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

input,
textarea,
select {
  background-color: #2a2a2a;
  color: #fff;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

button {
  background-color: #e50914;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #85060d;
}

/* Divisória visual */
.divider {
  height: 2px;
  background-color: #444;
  width: 100%;
  margin: 2rem 0;
}

/* Lista de filmes e usuários */
.frame {
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 1rem;
}